
### CUSTOM USER SETTINGS - change these values for your custom Jenkins ###

# The IP addresses you want to allow access to your Jenkins
# If you are in GDS, ask Reliability Engineering for the list of GDS IPs
allowed_ips = [
  "aa.bb.cc.dd/32",
  "ww.xx.yy.zz/32",
]

# The team_name you defined earlier
team_name = "your-team-name"

# A list of GitHub teams you want to grant access to your Jenkins
github_organisations = [
  "team1",
  "team2",
]

# A list of GitHub users you want to be Jenkins administrators
github_admin_users = [
  "admin1",
  "admin2",
  "admin3",
]

# The suffix of the URL that you setup earlier. If you're in GDS you may not have to change this
hostname_suffix = "build.gds-reliability.engineering"

### STANDARD SETTINGS - you shouldn't need to change these ###

aws_az = "eu-west-1a"

aws_region = "eu-west-1"

aws_profile = "re-build-systems"

dockerversion = "18.03.1~ce-0~ubuntu"

gitrepo = "https://github.com/alphagov/re-build-systems.git"

gitrepo_branch = "master"

server_instance_type = "t2.small"

server_name = "jenkins2"

server_root_volume_size = "40"

ubuntu_release = "xenial-16.04-amd64-server"

worker_instance_type = "t2.medium"

worker_name = "worker"

worker_root_volume_size = "50"
